.swiper{
    width: 200px;
    height: auto;

        .swiper-wrapper{

            .swiper-slide{
                display: flex;
                justify-content: center;
                align-items: center;

                    a{
                        font-size: 15px;
                        color: $light;
                    }
                    
            }
        }

        .swiper-button-lock{
            display: flex;
            color: $light;
            opacity: 50%;
        }

        

        .swiper-button-prev, .swiper-button-next{
            --swiper-navigation-size: 20px
        }
}

